<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app" class="container" v-cloak>
      <div class="row">
        <!-- CONTENITORE A SINISTRA PICCOLO -->
        <div class="col-small">
          <!-- AVATAR CON OPZIONI -->
          <div class="profile d-flex bg-white justify-between">
            <img src="./img/avatar_8.jpg" alt="My avatar" />
            <div class="options d-flex align-center justify-end">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-message"></i>
              <i class="fas fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- FINE AVATAR CON OPZIONI -->

          <!-- BOX NOTIFICHE -->
          <div
            id="notification"
            class="profile d-flex bg-lightblue align-center padding-tb"
          >
            <div id="snooze">
              <i class="fas fa-bell-slash"></i>
            </div>

            <div>
              <span id="receive" class="name font-size-big"
                >Ricevi notifiche di nuovi messaggi</span
              >
              <span class="access font-size-medium"
                ><a href="">Attiva notifiche desktop</a></span
              >
            </div>
          </div>
          <!-- FINE BOX NOTIFICHE -->

          <!-- BOX RICERCA -->
          <div class="search-chat">
            <div class="d-flex align-center">
              <i class="fas fa-magnifying-glass"></i>
            </div>
            <input
              @keyup="searchChat"
              type="text"
              id="search-field"
              placeholder="Cerca o inizia una nuova chat"
            />
          </div>
          <!-- FINE BOX RICERCA -->

          <!-- BOX ELENCO CHAT -->

          <div class="chat-list">
            <div
              @click="currentIndex = index"
              v-for="(avatar, index) in contacts"
              class="profile d-flex"
            >
              <img :src="avatar.avatar" alt="My avatar" />
              <div class="name-access">
                <h4 class="name">{{avatar.name}}</h4>
                <p class="access font-size-medium">
                  {{avatar.messages[avatar.messages.length - 1].message}}
                </p>
                <span class="access font-size-small"
                  >{{avatar.messages[avatar.messages.length - 1].date}}</span
                >
              </div>
            </div>
          </div>
          <!-- FINE BOX ELENCO CHAT -->
        </div>
        <!-- FINE CONTENITORE A SINISTRA PICCOLO -->

        <!-- CONTENITORE A DESTRA GRANDE -->
        <div class="col-big d-flex flex-column">
          <!-- INFO CHAT APERTA CON OPZIONI -->
          <div class="profile d-flex bg-white justify-between">
            <div
              @click="currentIndex = index"
              class="profile-details d-flex align-center"
            >
              <!-- TOFIX: l'ora è sempre quella del primo messaggio e non dell'ultimo -->
              <img :src="contacts[currentIndex].avatar" alt="My avatar" />
              <div>
                <h4 class="name">{{selectedContact(currentIndex).name}}</h4>
                <span class="access font-size-medium"
                  >Ultimo accesso oggi alle
                  {{selectedContact(currentIndex).messages[messagesIndex].date}}</span
                >
              </div>
            </div>

            <div class="options">
              <i class="fas fa-magnifying-glass"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-vertical"></i>
            </div>
          </div>
          <!-- FINE INFO CHAT APERTA CON OPZIONI -->

          <!-- MESSAGGI CHAT APERTA -->
          <div class="chat-screen overflow-grow">
            <div class="chat-container">
              <div
                v-for="(message, index) in contacts[currentIndex].messages"
                :class="message.status === 'sent' ? 'message-1 bg-lime width-60' : 'message-2 width-60'"
              >
                <div class="d-flex">
                  <p class="chat-content">{{message.message}}</p>
                  <i class="fas fa-chevron-down"></i>
                </div>
                <div class="d-flex justify-end">
                  <span class="font-size-small">{{message.date}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE MESSAGGI CHAT APERTA -->

          <!-- BOX PER SCRITTA MESSAGGI -->
          <div class="text-box d-flex justify-center bg-white">
            <div class="text-center">
              <button>
                <i class="far fa-face-smile"></i>
              </button>
            </div>
            <div>
              <input
                v-model="newMessage"
                @keyup.enter="addMessage"
                type="text"
                placeholder="Scrivi un messaggio"
              />
            </div>
            <div class="text-center d-flex align-center justify-center">
              <button>
                <i class="fas fa-microphone-lines"></i>
              </button>
            </div>
          </div>
          <!-- FINE BOX PER SCRITTA MESSAGGI -->
        </div>
        <!-- FINE CONTENITORE A DESTRA GRANDE -->
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./javascript/main.js"></script>
  </body>
</html>
