@media screen and (min-width: 568px) {
  /***********************
    CONTAINERS
    ***********************/

  .col-small {
    display: flex;
    width: 90px;
    background-color: #ffffff;
    border-right: 1px solid rgb(214, 214, 214);
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: column;
  }

  /***********************
    DISPLAY
    ***********************/

  .profile.d-flex img {
    display: block;
  }

  .col-small .options,
  #notification,
  .name.font-size-big,
  .search-chat,
  .chat-list .name-access {
    display: none;
  }

  /***********************
    AVATAR INFO
    ***********************/

  .chat-list {
    overflow-y: scroll;
    flex-grow: 1;
  }

  .col-big .options {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile i {
    display: block;
    color: #b1b1b1;
  }

  /*************************************
    SEZIONE CHAT PRINCIPALE A DESTRA
    ***********************************/

  .message-1 {
  }

  /*****************************
    SEZIONE SCRIVI UN MESSAGGIO
    *****************************/

  .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box div:first-child,
  .text-box div:last-child {
    display: block;
    width: 10%;
  }

  .text-box div:nth-child(2) {
    width: 80%;
  }

  .text-box i {
    font-size: 20px;
    color: #6b7376;
  }
}
